@inherits TransitionableLayoutComponent


<div class="view-content transition @transitioningClass">
    @Body
</div>

<style>
</style>

@code {
    private string transitioningClass => TransitioningIn ? "transition-in transitioning" : "transition-out transitioning";
}