.view-content {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

.transition-in {
    opacity: 0;
}

.transitioning {
    position: absolute;
    left: 0;
    right: 0;
}

.transition-display-none {
    display: none;
}
