.page {
    color: var(--main-foreground-color);
}

.page__background {
    background-color: var(--main-background-color);
    background-image: var(--main-background-image);
    height: 100%;
    position: fixed;
    display: inline-block;
    top: 0;
    background-attachment: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main {
    flex: 1;
}

.top-row {
    background-color: var(--main-background-color);
    background-image: var(--main-background-image);
    background-attachment: fixed;
    border-bottom: 1px solid var(--main-accent-color);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
