@inherits LayoutComponentBase


<div class="view-content transition @transitioningClass">
    @Body
</div>

@code {
    [CascadingParameter]
    public Transition Transition { get; set; }

    private string transitioningClass => !Transition.FirstRender
        ? (Transition.IntoView ? "transition-in transitioning" : "transition-out transitioning")
        : "";
}