@inherits ButtonModel

<div class="button @Animation">
    <div class="button__background">
        <button class="button__element" @onclick="HandleOnClick" @attributes="Attributes">@ChildContent</button>
        <div class="button__corner --bottom-left"></div>
        <div class="button__corner --bottom-right"></div>
        <div class="button__corner --top-left"></div>
        <div class="button__corner --top-right"></div>
    </div>
</div>

@code {
}