.button {
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

    .button button {
        color: var(--button-color);
        display: block;
        font-size: 21px;
        transition: all 250ms ease-out;
        line-height: 1.5;
        font-family: var(--font-family);
        cursor: pointer;
    }

        .button button:focus,
        .button button:hover {
            border: 1px solid;
        }

.--blink {
    background-color: var(--button-blink-color);
}

.button__background {
    background-color: var(--button-background-color);
    z-index: 3;
    display: block;
    position: relative;
    overflow: hidden;
    transition: background-color 250ms ease-in;
}

button.button__element {
    width: 100%;
    margin: 0;
    border: none;
    z-index: 2;
    display: inline-block;
    padding: 10px 20px;
    outline: none;
    position: relative;
    font-size: 15.75px;
    background: transparent;
    transition: all 250ms ease-out;
    line-height: 1;
    user-select: none;
    vertical-align: middle;
    border: 1px solid var(--button-border-color);
}

    button.button__element:focus {
        border: 1px solid var(--button-border-hover-color);
    }

.button__background:hover .button__corner {
    background-color: var(--button-corner-background-hover-color);
    opacity: 0.65;
}

.button__element:focus ~ .button__corner {
    background-color: var(--button-corner-background-hover-color);
    opacity: 0.65;
}

.button__corner {
    background-color: var(--button-corner-background-color);
    height: 8px;
    width: 8px;
}

    .button__corner.--bottom-left {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .button__corner.--bottom-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .button__corner.--top-left {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .button__corner.--top-right {
        position: absolute;
        top: 0px;
        right: 0px;
    }

.--animate .button__corner.--transition {
    -webkit-transition: all calc(var(--default-animation-speed) / 4) ease-out;
    transition: all calc(var(--default-animation-speed) / 4) ease-out;
}