@inherits TableModel

<div class="table">
    <table class="table__element">
        <thead class="table__head">
            <TableRow>
                @Head
            </TableRow>
        </thead>
        <tbody class="table__body">
            @Body
        </tbody>
    </table>
</div>
