@page "/"

<h1>Controls</h1>

<h2 id="text">Text</h2>

<h3>Plain Text</h3>
<Text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate, eros quis tempor pharetra, dolor quam tristique diam, a pretium massa neque id lectus. Mauris mattis orci non diam faucibus sollicitudin. Suspendisse egestas ex mattis massa tincidunt, vel semper tortor accumsan. Nunc vel egestas risus. Curabitur in est sit amet lacus fringilla eleifend. Suspendisse euismod vestibulum odio, eu condimentum elit porta eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare, urna vitae laoreet condimentum, metus nulla iaculis velit, elementum volutpat velit est eget leo. Nunc vehicula risus sed sapien bibendum, ac mattis arcu hendrerit. Nulla ultricies mauris orci, non malesuada velit dapibus ut. Vivamus sollicitudin varius lacus, eu iaculis nisl egestas quis.
</Text>

<h3>Animated Text</h3>
<Animate>
    <Text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate, eros quis tempor pharetra, dolor quam tristique diam, a pretium massa neque id lectus. Mauris mattis orci non diam faucibus sollicitudin. Suspendisse egestas ex mattis massa tincidunt, vel semper tortor accumsan. Nunc vel egestas risus. Curabitur in est sit amet lacus fringilla eleifend. Suspendisse euismod vestibulum odio, eu condimentum elit porta eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare, urna vitae laoreet condimentum, metus nulla iaculis velit, elementum volutpat velit est eget leo. Nunc vehicula risus sed sapien bibendum, ac mattis arcu hendrerit. Nulla ultricies mauris orci, non malesuada velit dapibus ut. Vivamus sollicitudin varius lacus, eu iaculis nisl egestas quis.
    </Text>
</Animate>

<h2 id="button">Button</h2>

<div>
    <h3>Button (with sound)</h3>
    <Button OnClick="IncrementCount">Default @currentCount</Button>
</div>

<h2 id="table">Table</h2>
<div>
    <FetchData />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
