:root {
    --default-animation-speed: 1000ms;
    --font-family: "Electrolize", "sans-serif";
    --main-foreground-color: #26dafd;
    --main-background-color: black;
    --main-background-image: url(/_content/EventHorizon.Blazor.UX.Shared/image/background.png);
    --main-foreground-shadow-color: #26dafda6;
    --main-accent-color: #d6d5d5;
    --main-accent-shadow-color: #26dafda6;
    --disabled-background-color: #d6d5d5a6;
    --call-to-action-color: #acf9fb;
    --call-to-action-shadow-color: rgba(172,249,251,0.65);
    /* Scrollbar Styles */
    --scrollbar-thumb-track-color: #151515;
    --scrollbar-thumb-thumb-color: black;
    --scrollbar-thumb-border-color: rgba(172,249,251,0.65);
    --scrollbar-thumb-border-hover-color: rgba(172,249,251,0.95);
    /* Button Styles */
    --button-color: var(--main-foreground-color);
    --button-background-color: rgba(6, 43, 45, 0.65);
    --button-blink-color: white;
    --button-border-color: var(--main-foreground-color);
    --button-border-hover-color: var(--main-accent-color);
    --button-corner-background-color: var(--main-foreground-color);
    --button-corner-background-hover-color: var(--main-accent-color);
    /* Link Styles */
    --link-color: var(--call-to-action-color);
    --link-shadow-color: rgba(172,249,251,0.65);
    /* Tabs Styles */
    --tabs-font-family: var(--font-family);
    --tabs-color: var(--main-forground-color);
    --tabs-background-color: transparent;
    --tabs-area-background-color: var(--tabs-background-color);
    --tabs-selector-color: var(--call-to-action-color);
    --tabs-selector-shadow-color: var(--call-to-action-shadow-color);
    --tabs-selector-background-color: var(--tabs-background-color);
    --tabs-select-border-color: var(--main-accent-color);
    --tabs-select-border-hover-color: #a1ecfb;
    --tabs-tab-color: var(--tabs-color);
    --tabs-tab-background-color: var(--tabs-background-color);
    --tabs-tab-border-color: transparent;
    /* Table Styles */
    --table-head-color: #a1ecfb;
    --table-row-color: rgba(2,157,187,0.325);
    --table-row-alternate-background-color: rgba(251, 249, 251, 0.1);
    /* Form - Text Field Styles*/
    --form-text-field-input-color: var(--main-accent-color);
    --form-text-field-input-border-color: var(--main-foreground-color);
    --form-text-field-input-focused-color: rgba(251, 249, 251,0.30);
    --form-text-field-label-color: var(--main-foreground-color);
    --form-text-field-label-shadow-color: var(--main-foreground-color);
    --form-text-field-label-focused-color: var(--main-accent-color);
    --form-text-field-underline-color: var(--main-accent-color);
    --form-text-field-disabled-background-color: var(--disabled-background-color);
    /* Form - Text Area Styles*/
    --form-text-area-input-color: var(--main-accent-color);
    --form-text-area-input-border-color: var(--main-foreground-color);
    --form-text-area-input-focused-color: rgba(251, 249, 251,0.30);
    --form-text-area-label-color: var(--main-foreground-color);
    --form-text-area-label-shadow-color: var(--main-foreground-color);
    --form-text-area-label-focused-color: var(--main-accent-color);
    --form-text-area-underline-color: var(--main-accent-color);
    --form-text-area-disabled-background-color: var(--disabled-background-color);
    /* Form - Select Styles */
    --form-select-color: var(--main-foreground-color);
    --form-select-background-color: var(--main-background-color);
    --form-select-border-color: var(--main-foreground-color);
    --form-select-focus-color: rgba(251, 249, 251,0.30);
    --form-select-shadow-color: rgba(251, 249, 251,0.30);
    --form-select-border-hover-color: var(--main-foreground-color);
    --form-select-background-disabled-color: var(--disabled-background-color);
    --form-select-label-color: var(--main-accent-color);
    --form-select-label-shadow-color: var(--main-foreground-color);
    --form-select-option-foreground-color: var(--main-background-color);
    --form-select-option-background-color: var(--main-accent-shadow-color);
}

@media print, (prefers-reduced-motion: reduce) {
    .--animate,
    .--animate .--transition {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

/* Controls */
a.link {
    color: var(--link-color);
    cursor: pointer;
    transition: color 250ms ease-out;
    text-shadow: 0 0 4px var(--link-shadow-color);
}

.top-row a.link {
    text-decoration: none;
}

/* Scroll Bar Styles */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-thumb-track-color);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-thumb-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-thumb-color);
    border: 1px solid var(--scrollbar-thumb-border-color);
    transition: border 500ms ease-in;
}

    ::-webkit-scrollbar-thumb:hover {
        border: 1px solid var(--scrollbar-thumb-border-hover-color);
    }

/* Resizer Styles */
::-webkit-resizer {
    background-color: var(--main-accent-shadow-color);
    border-radius: 70%;
}

.--sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
