@page "/fetchdata"

@using EventHorizon.Blazor.UX.Server.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table>
        <Head>
            <TableColumn>Date</TableColumn>
            <TableColumn>Temp. (C)</TableColumn>
            <TableColumn>Temp. (F)</TableColumn>
            <TableColumn>Summary</TableColumn>
        </Head>
        <Body>
            @foreach (var forecast in forecasts)
            {
                <TableRow>
                    <TableCell>@forecast.Date.ToShortDateString()</TableCell>
                    <TableCell>@forecast.TemperatureC</TableCell>
                    <TableCell>@forecast.TemperatureF</TableCell>
                    <TableCell>@forecast.Summary</TableCell>
                </TableRow>
            }
        </Body>
    </Table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
