/*:root {
    --font-family: "Electrolize", "sans-serif";
    --main-foreground-color: #26dafd;
    --main-background-color: black;
    --main-background-image: url(/_content/EventHorizon.Blazor.UX.Shared/image/background.png);
    --main-foreground-shadow-color: #26dafda6;
    --main-accent-color: #d6d5d5;*/
    /* Scrollbar Styles */
    /*--scrollbar-thumb-track-color: #151515;
    --scrollbar-thumb-thumb-color: black;
    --scrollbar-thumb-border-color: rgba(172,249,251,0.65);
    --scrollbar-thumb-border-hover-color: rgba(172,249,251,0.95);
}*/
